@page "/"
@inject NavigationManager navManager

<PageTitle>Index</PageTitle>



<main role="main">

      

    @*<div class="container">*@
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('https://images.unsplash.com/photo-1668028758338-0bd7a73f22da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80'); background-size: cover;">
        <div>
            @*<img src="images/laptop_orange.jpg" alt="laptop" height="400" width="100%" />*@
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center ">
                    <div class="text-white">
                        <h1 class="mb-3 d-flex justify-content-center align-items-center ">Καλωσορίσατε στο Site μας που είναι καταπληκτικό</h1>
                        <h4 class="mb-3 d-flex justify-content-center align-items-center ">Μα τον θεό είναι!</h4>
                        @*<a class="btn btn-outline-light btn-lg d-flex justify-content-center align-items-center " href="#!" role="button">Call to action</a>*@
                    </div>
                </div>
            </div>
        </div>
        @*<!-- Background image -->
        <div class="bg-image" style="background-image: url('images/blue.jpg');">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center ">
                    <div class="text-white">
                        <h1 class="mb-3">Heading</h1>
                        <h4 class="mb-3">Subheading</h4>
                        <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
                    </div>
                </div>
            </div>   
        </div>
        <!-- Background image -->*@
        @*<h2 style="font-size:100px; color:black; margin:10px;">Προσανατολισμός </h2>

        <p style="font-size:30px; color:black;"><em>γργεργργ</em></p>

        <img class="img-fluid" src="images/macos.jpg" alt="A LAPTOP">*@
    </div>

    <div  class="container marketing">
        
        <br /><br />

        @*Πρώτο*@
        <hr class="featurette-divider">
       
        <div class="row featurette">
            <div class="col-md-7">
                <br /><br /><br />
                <h2 class="featurette-heading"> Eνότητα "My Courses".<span class="text-muted">Εκπαίδευση σχετικά με τους κλάδους και τα επαγγέλματα!</span></h2>
                <p class="lead"> Τώρα μπορείς να ενημερώνεσαι για όλα τα βασικά επαγγέλματα στον κλάδο της πληροφορικής.Κατανόησε τα είδη των επαγγελμάτων καθώς και τι skills πρέπει να διαθέτεις για να ασχοληθείς με αυτά. Οι ενότητες συνεχώς ανανεώνονται κι εσύ μπορείς να μάθεις όλα όσα χρειάζεσαι για να επιλέξεις την επαγγελματική σου καριέρα! </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://www.iamtimcorey.com/assets/images/homepage/Lessons_SVG.svg" data-holder-rendered="true">
            </div>
        </div>

        @*Δεύτερο*@
        <hr class="featurette-divider">
        
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <br /><br /><br /><br />
                <h2 class="featurette-heading"> Ενότητα "Quizes". <span class="text-muted"> Έλεγχος των γνώσεών σου όποτε το επιθυμείς! </span></h2>
                <p class="lead">Δοκίμασε να απαντήσεις στις ερωτήσεις των quiz και ανακάλυψε τι έμαθες!</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://www.iamtimcorey.com/assets/images/homepage/Training_SVG.svg" data-holder-rendered="true" style="width: 500px; height: 500px;">
            </div>
        </div>

        @*Τρίτο*@
        <hr class="featurette-divider">
        
        <div class="row featurette">
            <div class="col-md-7">
                <br /><br /><br /><br />
                <h2 class="featurette-heading"> Ενότητα "My Progress". <span class="text-muted"> Ενημέρωση για την πρόοδό σου κάθε στιγμή!</span></h2>
                <p class="lead">Μπορείς ακόμη να είσαι πάντα ενημερωμένος σχετικά με την πρόοδο σου στα quizes. Κάνε όσες φορές επιθυμείς τα τεστ και μείνε έκπληκτος με την πρόοδό σου! </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://www.iamtimcorey.com/assets/images/homepage/Cost_SVG.svg" data-holder-rendered="true" style="width: 500px; height: 500px;">
            </div>
        </div>

        @*Τέταρτο*@
        <hr class="featurette-divider">
        
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <br /><br /><br /><br />
                <h2 class="featurette-heading"> Ενότητα "Suggestions". <span class="text-muted">Και τέλος, σου προτείνουμε καριέρα!</span></h2>
                <p class="lead">Λαμβάνοντας υπόψη την πρόοδό σου, αλλά και τις προτιμήσεις σου, αναλαμβάνουμε να σου προτείνουμε επαγγελματικό μονοπάτι.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://www.iamtimcorey.com/assets/images/homepage/Careers_SVG.svg" data-holder-rendered="true" style="width: 500px; height: 500px;">
            </div>
        </div>

        



        <!-- /END THE FEATURETTES -->
        <div class="card">
            <h5 class="card-header alert-dark">Career Goal</h5>
            <div class="card-body">
                <h5 class="card-title">Πέτυχε τους επαγγελματικούς σου στόχους.</h5>
                <p class="card-text">Με τη βοήθειά μας επίλεξε την καριέρα που σου ταιριάζει! </p>

                <div id="careerGoalSection" class="d-flex justify-content-around flex-wrap">
                    <button type="button" class="btn btn-secondary" @onclick='() => NavigateTo("/info_Software_Developer")'>Software Developer</button>
                    <button type="button" class="btn btn-secondary" @onclick='() => NavigateTo("/info_Web_Developer")'>Web Developer</button>
                    <button type="button" class="btn btn-secondary" @onclick='() => NavigateTo("/info_UI_UX_Designer")'>UX Designer</button>
                    <button type="button" class="btn btn-secondary" @onclick='() => NavigateTo("/info_Data_Scientist")'>Data scientist</button>
                    <button type="button" class="btn btn-secondary" @onclick='() => NavigateTo("/info_Cybersecurity_Analyst")'>Cybersecurity Analyst</button>
                    <button type="button" class="btn btn-secondary" @onclick='() => NavigateTo("/info_Mobile_App_Developer")'>Mobile App Developer</button>
                    <button type="button" class="btn btn-secondary" @onclick='() => NavigateTo("/info_Game_Developer")'>Game Developer</button>
                </div>
            </div>
        </div>


    </div><!-- /.container -->
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</main>

@code{

    protected override void OnInitialized()
    {
        Console.WriteLine("Hi eva");
    }

    private void NavigateTo(string navigationLink)
    {
        navManager.NavigateTo(navigationLink);
    }
}
