@page "/info_Web_Developer"
@inject NavigationManager navManager

<div class="container">
    <div class="container text-center" style="background-image: url('images/blue_wall.jpg'); background-repeat: no-repeat; height: 350px; width: 100%">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="text-white"><b>Web Developer</b></h1>
        <h3 class="text-white"><b>(Προγραμματιστής Παγκόσμιου Ιστού)</b></h3>
    </div>
</div>

<br />
<hr />
<br />

<h5>
    Σε μια εποχή όπου κάθε επιχείρηση προσπαθεί 
    να γίνει digital, <strong>ο ρόλος του</strong> 
    <strong>Web Developer</strong> είναι πολύ σημαντικός. 
    Η ζήτηση για web developers έχει αυξηθεί ραγδαία, 
    ειδικά τα τελευταία χρόνια . 
    Ο <strong>Web Developer</strong> ή 
    <strong>Προγραμματιστής Ιστού</strong> ασχολείται κυρίως 
    με την <strong>δημιουργία και ανάπτυξη 
    των ιστοσελίδων</strong>. 
    Eίναι απαραίτητος για επιχειρήσεις 
    που έχουν ως στόχο to digital transformation, 
    την μετατροπή των διαδικασιών και όχι μόνο 
    σε ψηφιακή μορφή.
</h5>

<h5>
    Κάπου στην μέση ενός γραφίστα και ενός 
    Προγραμματιστή Λογισμικού βρίσκεται ο 
    <strong>Web Developer</strong>.  Έχεις τις 
    απαραίτητες γνώσεις σχεδιασμού και γραφιστικής 
    (χωρίς να εξειδικεύεται σε αυτό) και μια πρακτική 
    εμπειρία σχετικά με το development. Πλέον υπάρχουν 
    εργαλεία που με τα σωστά click, 
    μπορείς να δημιουργήσεις ιστοσελίδες. 
    Στα πλαίσια του Web Development, ο προγραμματισμός 
    σε κάποια γλώσσα προγραμματισμού δεν είναι 
    αποτελεί πάντα αναγκαία συνθήκη. 
    Για να υλοποιήσει τις ιδέες του, ωστόσο, και να 
    δημιουργήσει την ιστοσελίδα που του έχει ζητηθεί 
    πολλές φορές η λύση του προγραμματισμού σε κάποια 
    γλώσσα όπως HTML, CSS, PHP είναι απαραίτητη.
</h5 > 

<br />
<br />

<h5>
    Ως γενική αρχή, <strong> ο web developer </strong> 
    είναι υπεύθυνος για την ανάπτυξη και τη συντήρηση 
    ιστοσελίδων και εφαρμογών για τον 
    Παγκόσμιο Ιστό (World Wide Web).
</h5>

<br />

<h5>
    Ο web developer είναι υπεύθυνος για την 
    ανάπτυξη και τη συντήρηση ιστοσελίδων και εφαρμογών 
    για τον Παγκόσμιο Ιστό (World Wide Web). 
    Οι καθήκοντα και οι εργασίες ενός web developer μπορούν 
    να ποικίλουν ανάλογα με την εταιρεία και τον τομέα 
    στον οποίο εργάζεται, αλλά κάποιες κύριες δραστηριότητες 
    περιλαμβάνουν τα εξής:
</h5>

<ol>
    <li>
        <h5>
            <b>Σχεδίαση και ανάπτυξη ιστοσελίδων:</b>
            <br />
            Ο web developer αναλαμβάνει τον σχεδιασμό 
            και την ανάπτυξη ιστοσελίδων, χρησιμοποιώντας 
            τεχνολογίες όπως HTML, CSS, JavaScript και άλλες 
            γλώσσες προγραμματισμού. Αναπτύσσει τη δομή της 
            ιστοσελίδας, την αισθητική της και τη λειτουργικότητά 
            της, εξασφαλίζοντας ότι είναι ανταποκρινόμενη 
            και συμβατή με διάφορες συσκευές και 
            προγράμματα περιήγησης.
        </h5>
    </li>
    <li>
        <h5>
            <b>Ανάπτυξη back end:</b>
            <br />
            Ο web developer αναλαμβάνει την ανάπτυξη 
            των λειτουργικών μηχανισμών και των συστημάτων 
            που διαχειρίζονται την αποθήκευση και την 
            επεξεργασία δεδομένων πίσω από τις ιστοσελίδες. 
            Αυτό μπορεί να περιλαμβάνει τη χρήση γλωσσών 
            προγραμματισμού όπως το PHP, τη διαχείριση βάσεων 
            δεδομένων, την επεξεργασία φόρμων και την αποστολή 
            δεδομένων προς τον εξυπηρετητή.
        </h5>
    </li>
    <li>
        <h5>
            <b>Προσαρμογή και επέκταση CMS:</b>
            <br />
            Ορισμένοι web developers εργάζονται με content 
            management systems (CMS) όπως το WordPress, 
            το Drupal ή το Joomla και αναλαμβάνουν την προσαρμογή 
            και την επέκταση των λειτουργιών τους. 
            Αυτό περιλαμβάνει τη δημιουργία προσαρμοσμένων 
            θεμάτων, προσθήκη πρόσθετων λειτουργιών και 
            δημιουργία προσαρμοσμένων εφαρμογών για τα CMS.
        </h5>
    </li>
    <li>
        <h5>
            <b>Δοκιμές και αποσφαλμάτωση:</b>
            <br />
            Ο web developer εκτελεί δοκιμές και αποσφαλμάτωση 
            των ιστοσελίδων και των εφαρμογών για να εξασφαλίσει 
            την ομαλή λειτουργία και την αποτελεσματικότητά τους. 
            Αναζητά και διορθώνει σφάλματα προγραμματισμού, 
            προβλήματα συμβατότητας και 
            άλλα τεχνικά ζητήματα που μπορεί να προκύψουν.
        </h5>
    </li>
</ol>

<br />
<br />

<h5>
    Για την ανάπτυξη μιας web εφαρμογής, 
    όπως το γνωστό σε όλους μας google search, 
    χρειάζεται τόσο η Διεπαφή Χρήστη 
    (UI – User Interface), όσο και η 
    <strong>λειτουργικότητα της αναζήτησης</strong>. 
    Ως διεπαφή αναφερόμαστε σε αυτό που βλέπεις στην οθόνη, 
    στην προκειμένη περίπτωση ένα απλό πεδίο 
    που μπορείς να γράψεις. Το κομμάτι της διεπαφής 
    το αναλαμβάνει ο > Front End Developer. Τι γίνεται, 
    όμως, όταν πατήσεις το enter; Πώς καταλαβαίνει η google 
    τι αποτελέσματα να σου επιστρέψει; Πώς όλο αυτό συμβαίνει 
    τόσο γρήγορα; Όλα όσα συμβαίνουν πίσω από την σκηνή 
    και συνήθως δεν τα μαθαίνεις ποτέ, γιατί είναι δουλειά 
    του Back End Developer.
</h5>

<br />

<h5>
    Όταν ο Web Developer, ασχολείται με 
    μεγάλο όγκο προγραμματισμού σε Front End επίπεδο, 
    ίσως ο ρόλος του <strong>Front End Developer</strong> 
    να είναι πιο ακριβής.
</h5>

<h5>
    Ο <strong>Front End Developer</strong>, 
    είναι ο προγραμματιστής που θα χρησιμοποιήσει 
    συγκεκριμένες γλώσσες προγραμματισμού για να αποτυπώσει 
    σε μια οθόνη Η/Υ αυτό που βλέπεις αυτή τη στιγμή μπροστά σου. 
    Τα χρώματα, τα κουμπιά, η γραμματοσειρά, 
    το μενού και όλα όσα σου δίνουν την δυνατότητα 
    αλληλεπίδρασης με click ή scroll αφορούν το
    <strong> Front End Development</strong>.
</h5>

<h5> Από την άλλη πλευρά, όταν ο προγραμματιστής 
    εστιάζει στη δημιουργία κάποιων Plugins σε WordPress, 
    Joomla και άλλα CMS τότε το  Back End Development 
    ίσως είναι πιο αντιπροσωπευτικό. 
</h5>

<br />

<h5>
    Το <strong>Back End Development</strong> είναι το λεγόμενο
    <u>server side development.</u>
    Εστιάζει στις βάσεις δεδομένων, το scripting και 
    γενικότερα την αρχιτεκτονική ενός συστήματος. 
    Περιλαμβάνει λειτουργίες που εκτελούνται αυτόματα 
    μέσα από τα διάφορα κλικ που γίνονται σε μια οθόνη.
    Η αγορά ενός προϊόντος, η αποστολή ενός email, 
    η σύνδεση στον λογαριασμό σου, η δημοσίευση ενός 
    νέου post στο facebook είναι ενέργειες που γίνονται, 
    έπειτα από μια αλληλεπίδραση που είχες με κάποιο σύστημα.
</h5>

@*Arxh meseas photo*@

<br />
<br />

<div class="py-5 f-wht">
    <div class="container text-center">
        <img width="600" src="https://futuregeneration.gr/wp-content/uploads/2022/01/job-role-ui-designer.jpg" alt="Mobile App Developer image">
    </div>
</div>

<br />
<br />

@*Telos meseas photo*@

<h2> Προσόντα και ικανότητες </h2>

<h5>
    Ένας <strong>Web Developer</strong> πρέπει να διαθέτει τόσο
    hard skills (τεχνικές δεξιότητες) όσο και soft skills
    (δεξιότητες συμπεριφοράς και επικοινωνίας).
</h5>

<br />
<br />

<h3 class="text-decoration-underline">Hard Skills</h3>

<br />

<ol>
    <li>
        <h5>
            <b>Γνώση προγραμματισμού:</b>
            <br />
            Ο web developer πρέπει να έχει καλή γνώση προγραμματισμού 
            και να είναι εξοικειωμένος με γλώσσες προγραμματισμού 
            όπως HTML, CSS, JavaScript, PHP, Python κ.λπ., 
            ανάλογα με τις ανάγκες του έργου.
        </h5>
    </li>
    <li>
        <h5>
            <b>Κατανόηση των βασικών αρχών του σχεδιασμού ιστοσελίδων:</b>
            <br />
            Ο web developer πρέπει να έχει κατανόηση 
            των βασικών αρχών σχεδιασμού ιστοσελίδων, 
            όπως τη δομή του HTML, τον στυλ με τη χρήση CSS, 
            τον δυναμικό προγραμματισμό με JavaScript 
            και την ανταπόκριση σε διάφορες 
            πλατφόρμες και συσκευές.
        </h5>
    </li>
    <li>
        <h5>
            <b>Εμπειρία με πλατφόρμες και εργαλεία ανάπτυξης:</b>
            <br />
            Ο web developer πρέπει να είναι εξοικειωμένος 
            με πλατφόρμες ανάπτυξης όπως το WordPress, 
            το Drupal, το Joomla κ.λπ., καθώς και με εργαλεία 
            ανάπτυξης και διαχείρισης όπως το Git, το IDE 
            (Integrated Development Environment) και τον 
            εξυπηρετητή ιστού (web server).
        </h5>
    </li>
</ol>

<br />
<br />

<h3 class="text-decoration-underline">Soft Skills</h3>

<br />

<ol>
    <li>
        <h5>
            <b>Προβληματισμός και λογική σκέψη:</b>
            <br />
            Ο web developer πρέπει να να έχει ικανότητες 
            λογικής σκέψης για να αντιμετωπίζει προβλήματα 
            και να βρίσκει λύσεις.
        </h5>
    </li>
    <li>
        <h5>
            <b>Ομαδικότητα και επικοινωνία:</b>
            <br />
            Ο web developer συνήθως εργάζεται σε ομάδες 
            ή σε συνεργασία με άλλους επαγγελματίες. 
            Είναι σημαντικό να έχει καλές δεξιότητες 
            επικοινωνίας και να μπορεί να 
            συνεργάζεται αποτελεσματικά.
        </h5>
    </li>
    <li>
        <h5>
            <b>Επίλυση προβλημάτων και ευελιξία:</b>
            <br />
            Ο web developer πρέπει να είναι ικανός 
            να αντιμετωπίζει προβλήματα και να 
            προσαρμόζεται σε αλλαγές και απαιτήσεις 
            του έργου.
        </h5>
    </li>
    <li>
        <h5>
            <b>Συνεχής μάθηση και επιμόρφωση:</b>
            <br />
            Το επάγγελμα του web development συνεχώς 
            εξελίσσεται. Ο web developer πρέπει να είναι 
            πρόθυμος να μαθαίνει συνεχώς νέες τεχνολογίες 
            και να επεκτείνει τις γνώσεις του.
        </h5>
    </li>
</ol>

<br />
<br />
<br />

<h5>
    Πιστεύεις Κατανόησες τον ρόλο του Web Developer;
    Δοκίμασε να συμπληρώσεις το σχετικό Quiz:
    <br />
    <br />
    <button class="btn btn-lg btn-success" type="button" @onclick="navigateTo">Quiz Για Web Developer</button>
</h5>

<br />
<br />
<br />

@code {
    private void navigateTo()
    {
        navManager.NavigateTo("/Web_Developer_Quiz");
    }
}
