@page "/info_Health_IT_Professionals"

@*<h2 class="text-info"><b>Health IT Professionals</b></h2>

<br />
<hr />
<br />

<h5>
</h5>*@

<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80'); background-size: cover;">
    <div class="text-center text-white">
        <h1 class="display-4">Coming Soon</h1>
        <p class="lead">We're working on something amazing. Stay tuned!</p>
    </div>
</div>

@code {

}
