@page "/Info_Final_Quiz"

@*<div class="container">
    <div class="container text-center" style="background-image: url('https://www.rd.com/wp-content/uploads/2020/10/RD-genius-quiz-questions-GettyImages-1253488628-JVedit.jpg'); background-repeat: no-repeat; height: 350px; width: 100%">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="text-white"><b>Final Quiz</b></h1>
        <h3 class="text-white"><b>(Τελικό Quiz)</b></h3>
    </div>
</div>

<br />
<hr />
<br />

<h4>
    Εφόσον ολοκλήρωσες όλα τα υπόλοιπα Quiz,
    εκτέλεσε το τελικό Quiz. Οι ερωτήσεις
    επιλέγονται τυχαία και συμπεριλαμβάνονται
    σε αυτές όλες οι ενότητες. Εκτέλεσε όσες
    φορές επιθυμείς το Quiz απαντώντας κάθε φορά
    σε διαφορετικές και τυχαίες ερωτήσεις, για να
    τεστάρεις τις γνώσεις σου.
</h4>*@

<div class="container-fluid d-flex justify-content-start align-items-start vh-100" style="background-image: url('https://www.rd.com/wp-content/uploads/2020/10/RD-genius-quiz-questions-GettyImages-1253488628-JVedit.jpg'); background-size: cover;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="text-center text-white">
            <h1 class="display-4">Final Quiz</h1>
            @*<p class="lead">We're working on something amazing. Stay tuned!</p>*@
            <h2>
                Εφόσον ολοκλήρωσες όλα τα υπόλοιπα Quiz,
                εκτέλεσε το τελικό Quiz. Οι ερωτήσεις
                επιλέγονται τυχαία και συμπεριλαμβάνονται
                σε αυτές όλες οι ενότητες. Εκτέλεσε όσες
                φορές επιθυμείς το Quiz απαντώντας κάθε φορά
                σε διαφορετικές και τυχαίες ερωτήσεις, για να
                τεστάρεις τις γνώσεις σου.
            </h2>
            <a class="btn btn-outline-light btn-lg d-flex justify-content-center align-items-center " href="Final_Quiz_Quiz" role="button">
                <h4>Θέλω να τεστάρω τις γνώσεις μου</h4>
            </a>
        </div>
    </div>
</div>

@code {

}
