@page "/info_UI_UX_Designer"

<div class="container">
    <div class="container text-center" style="background-image: url('images/blue_wall.jpg'); background-repeat: no-repeat; height: 350px; width: 100%">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="text-white"><b>UI/UX Designer</b></h1>
        <h3 class="text-white"><b>(Σχεδιαστής εμπειρίας χρηστών)</b></h3>
    </div>
</div>

<br />
<hr />
<br />

<h5>
    Ένας UX/UI (User Experience) Designer 
    είναι υπεύθυνος για τον σχεδιασμό και τη 
    βελτίωση της εμπειρίας χρήσης μιας ιστοσελίδας, 
    μιας εφαρμογής ή ενός προϊόντος. Ο ρόλος του UX 
    Designer επικεντρώνεται στην κατανόηση των αναγκών, 
    των συμπεριφορών και των προσδοκιών των χρηστών,  
    ενώ στόχος του είναι να δημιουργήσει ένα περιβάλλον 
    που είναι ευχάριστο, εύχρηστο και ικανοποιητικό 
    για τον χρήστη.
</h5>

<h5>
    Μια πόρτα που είναι κακώς σχεδιασμένη 
    και δεν είναι ξεκάθαρο αν πρέπει να τη σπρώξετε 
    ή να τη τραβήξετε για να ανοίξει, αποτελεί ένα από 
    τα πιο χαρακτηριστικά παραδείγματα με τα οποία 
    μπορεί κανείς να περιγράψει την έννοια του User Experience. 
    Με αλλά λόγια είναι η διαδικασία μέσω της οποίας οι 
    άνθρωποι προσπαθούν να απλοποιήσουν την ζωή τους έχοντας 
    δεδομένο την εμπειρία χρήσης . Τα τελευταία χρόνια οι όροι 
    του UI/UX design έχουν αναπτυχθεί ραγδαία και πίσω τους 
    κρύβονται μελέτες για τις κινήσεις 
    και τα συναισθήματα ενός χρήστη.
</h5>

@*Arxh meseas photo*@

<br />
<br />

<div class="py-5 f-wht">
    <div class="container text-center">
        <img width="600" src="https://futuregeneration.gr/wp-content/uploads/2020/08/job-role-ux-designer-1200x628-1.jpg" alt="Mobile App Developer image">
    </div>
</div>

<br />
<br />

@*Telos meseas photo*@

<h2> Προσόντα και ικανότητες </h2>

<h5>
    Ένας <strong>UI/UX Designer</strong> πρέπει να διαθέτει τόσο
    hard skills (τεχνικές δεξιότητες) όσο και soft skills
    (δεξιότητες συμπεριφοράς και επικοινωνίας).
</h5>

<br />
<br />

<h3 class="text-decoration-underline">Hard Skills</h3>

<br />

<ol>
    <li>
        <h5>
            <b>Ανάλυση χρήστη/Έρευνα χρήστη (User Research):</b>
            <br />
            Κατανόηση και εφαρμογή μεθόδων έρευνας χρήστη, 
            όπως συνεντεύξεις, παρατηρήσεις και ερωτηματολόγια, 
            για τη συλλογή και ανάλυση δεδομένων σχετικά 
            με τις ανάγκες και τις προτιμήσεις των χρηστών.
        </h5>
    </li>
    <li>
        <h5>
            <b>Κατανόηση των αρχών του σχεδιασμού εμπειρίας χρήστη 
               (User Experience Design Principles):</b>
            <br />
            Γνώση των βασικών αρχών που διέπουν τον σχεδιασμό 
            μιας καλής εμπειρίας χρήστη, 
            όπως η ευχρηστία και ο αξιόπιστος σχεδιασμός.
        </h5>
    </li>
    <li>
        <h5>
            <b>Καθορισμός προτεραιοτήτων και οργάνωση πληροφοριών:</b>
            <br />
            Γνώση για την οργάνωση και τη δομή των 
            πληροφοριών εντός ενός συστήματος, 
            με στόχο την εύρεση και την πλοήγηση των χρηστών.
        </h5>
    </li>
    <li>
        <h5>
            <b>Σχεδιασμός διεπαφής χρήστη (User Interface Design):</b>
            <br />
            Γνώση και εμπειρία στον σχεδιασμό γραφικών 
            διεπαφών, χρωμάτων, γραμματοσειρών και άλλων στοιχείων 
            που συμβάλλουν στην αποτελεσματική 
            αλληλεπίδραση χρήστη-υπολογιστή.
        </h5>
    </li>
    <li>
        <h5>
            <b> Πολυμεσική σχεδίαση (Multimedia Design):</b>
            <br />
            Οι γνώσεις και η εμπειρία στον σχεδιασμό 
            πολυμεσικού περιεχομένου, όπως γραφικά, εικόνες, 
            βίντεο, ήχος, κλπ., για να βελτιωθεί η απήχηση 
            και η αποτελεσματικότητα του προϊόντος 
            ή της υπηρεσίας.
        </h5>
    </li>
    <li>
        <h5>
            <b>Κατανόηση προγραμματισμού:</b>
            <br />
            Βασική κατανόηση των γλωσσών προγραμματισμού 
            και των περιορισμών τεχνικής υλοποίησης, 
            για να συνεργάζεται αποτελεσματικά 
            με την ομάδα ανάπτυξης.
        </h5>
    </li>
    <li>
        <h5>
            <b>Σχεδίαση πρωτοτύπων και αλληλεπίδρασης:</b>
            <br />
             Οι UX designers πρέπει να μπορούν να 
             δημιουργήσουν πρωτότυπα και αλληλεπιδραστικά
             προτότυπα που αντιπροσωπεύουν τον σχεδιασμό 
             της εμπειρίας χρήστη. Αυτό μπορεί να γίνει με 
             τη χρήση εργαλείων σχεδίασης όπως το Sketch, 
             το Adobe XD ή το Figma.
        </h5>
    </li>
</ol>

<br />
<br />

<h3 class="text-decoration-underline">Soft Skills</h3>

<br />

<ol>
    <li>
        <h5>
            <b>Επικοινωνία:</b>
            <br />
            Ικανότητα να επικοινωνεί αποτελεσματικά 
            με την ομάδα ανάπτυξης και τους ενδιαφερόμενους 
            φορείς, και να ακούει και να κατανοεί τις ανάγκες 
            των χρηστών. Εξίσου σημαντικό είναι να εκφράζει 
            ιδέες και σχεδιαστικές επιλογές με σαφήνεια.
        </h5>
    </li>
    <li>
        <h5>
            <b>Συνεργασία:</b>
            <br />
            Ικανότητα να συνεργάζεται με ομάδες 
            πολλαπλών ενδιαφερόμενων φορέων, 
            όπως σχεδιαστές, προγραμματιστές και 
            μάνατζερς προϊόντων.
        </h5>
    </li>
    <li>
        <h5>
            <b>Κριτική σκέψη:</b>
            <br />
            Ικανότητα να αναλύει και να αξιολογεί καταστάσεις, 
            να προτείνει λύσεις και να 
            βελτιώνει συνεχώς την εμπειρία χρήστη.
        </h5>
    </li>
    <li>
        <h5>
            <b>Αξιολόγηση:</b>
            <br />
            Ικανότητα αξιολόγησης των αποτελεσμάτων 
            ύστερα από πραγματοποίηση δοκιμών σε διάφορους 
            χρήστες προκειμένου να αξιολογηθεί η απόκριση 
            και η εμπειρία χρήσης των χρηστών. 
            Απώτερος σκοπός αναβαθμίσεις και αλλαγές 
            για την βελτίωση της εμπειρίας.
        </h5>
    </li>
</ol>

<br />
<br />
<br />

<h5>
    Πιστεύεις Κατανόησες τον ρόλο του UI/UX Designer;
    Δοκίμασε να συμπληρώσεις το σχετικό Quiz:
    <br />
    <br />
    <button class="btn btn-lg btn-success" type="button">Quiz Για UI/UX Designer</button>
</h5>

<br />
<br />
<br />



@code {

}
