@page "/info_Network_Administrator"

<section class="py-5 f-wht">
    <div class="container text-center">
        <h2 class="text-info"><b>Network Administrator</b></h2>
        <img width="800" src="https://www.fenyx.academy/wp-content/uploads/2023/01/network-administrator-diploma-program-hero-3.jpg" alt="Network Administrator image">
    </div>
</section>

<br />
<hr />
<br />

<h5>
</h5>

@code {

}
