@page "/Temp"

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

<br />
<br />

<div class="row">
    <div class="card col-md-3" style="width: 18rem; margin: 1%;">
        <img src="https://www.iamtimcorey.com/assets/images/homepage/Careers_SVG.svg" class="card-img-top" alt="an image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card col-md-3" style="width: 18rem; margin: 1%;">
        <img src="https://www.iamtimcorey.com/assets/images/homepage/Teacher_SVG.svg" class="card-img-top" alt="an image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card col-md-3" style="width: 18rem; margin: 1%;">
        <img src="https://www.iamtimcorey.com/assets/images/homepage/Cost_SVG.svg" class="card-img-top" alt="an image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>



@code {
    string mdo = "";
    string fat = "";
    string twitter = "";
}
