/* /Pages/Create_A_Course.razor.rz.scp.css */
body[b-gujq97ib2p] {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

*[b-gujq97ib2p] {
    box-sizing: border-box;
}

/* Add padding to containers */
.container[b-gujq97ib2p] {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text][b-gujq97ib2p], input[type=password][b-gujq97ib2p] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus[b-gujq97ib2p], input[type=password]:focus[b-gujq97ib2p] {
        background-color: #ddd;
        outline: none;
    }

/* Overwrite default styles of hr */
hr[b-gujq97ib2p] {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn[b-gujq97ib2p] {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .registerbtn:hover[b-gujq97ib2p] {
        opacity: 1;
    }

/* Add a blue text color to links */
a[b-gujq97ib2p] {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin[b-gujq97ib2p] {
    background-color: #f1f1f1;
    text-align: center;
}
/* /Pages/Cybersecurity_Analyst_Quiz.razor.rz.scp.css */
body[b-gqwfx5qkzu] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-gqwfx5qkzu] {
    background-color: #333;
}

.container[b-gqwfx5qkzu] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-gqwfx5qkzu] {
    width: 75%;
}

.options[b-gqwfx5qkzu] {
    position: relative;
    padding-left: 40px;
}

#options label[b-gqwfx5qkzu] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-gqwfx5qkzu] {
    opacity: 0;
}

.checkmark[b-gqwfx5qkzu] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-gqwfx5qkzu]:after {
    display: block;
}

.options .checkmark[b-gqwfx5qkzu]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-gqwfx5qkzu] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-gqwfx5qkzu]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-gqwfx5qkzu] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-gqwfx5qkzu] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-gqwfx5qkzu] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-gqwfx5qkzu] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Cybersecurity_Analyst_Quiz_Solutions.razor.rz.scp.css */
body[b-655u8uyw4u] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-655u8uyw4u] {
    background-color: #333;
}

.container[b-655u8uyw4u] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-655u8uyw4u] {
    width: 75%;
}

.options[b-655u8uyw4u] {
    position: relative;
    padding-left: 40px;
}

#options label[b-655u8uyw4u] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-655u8uyw4u] {
    opacity: 0;
}

.checkmark[b-655u8uyw4u] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-655u8uyw4u]:after {
    display: block;
}

.options .checkmark[b-655u8uyw4u]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-655u8uyw4u] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-655u8uyw4u]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-655u8uyw4u] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-655u8uyw4u] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-655u8uyw4u] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-655u8uyw4u] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Data_Scientist_Quiz.razor.rz.scp.css */
body[b-6qr2dgpjtj] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-6qr2dgpjtj] {
    background-color: #333;
}

.container[b-6qr2dgpjtj] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-6qr2dgpjtj] {
    width: 75%;
}

.options[b-6qr2dgpjtj] {
    position: relative;
    padding-left: 40px;
}

#options label[b-6qr2dgpjtj] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-6qr2dgpjtj] {
    opacity: 0;
}

.checkmark[b-6qr2dgpjtj] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-6qr2dgpjtj]:after {
    display: block;
}

.options .checkmark[b-6qr2dgpjtj]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-6qr2dgpjtj] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-6qr2dgpjtj]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-6qr2dgpjtj] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-6qr2dgpjtj] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-6qr2dgpjtj] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-6qr2dgpjtj] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Data_Scientist_Quiz_Solutions.razor.rz.scp.css */
body[b-sb1sgw249e] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-sb1sgw249e] {
    background-color: #333;
}

.container[b-sb1sgw249e] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-sb1sgw249e] {
    width: 75%;
}

.options[b-sb1sgw249e] {
    position: relative;
    padding-left: 40px;
}

#options label[b-sb1sgw249e] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-sb1sgw249e] {
    opacity: 0;
}

.checkmark[b-sb1sgw249e] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-sb1sgw249e]:after {
    display: block;
}

.options .checkmark[b-sb1sgw249e]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-sb1sgw249e] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-sb1sgw249e]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-sb1sgw249e] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-sb1sgw249e] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-sb1sgw249e] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-sb1sgw249e] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Final_Quiz.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-n17k74oa92] {
    background-color: #333;
}

.container[b-n17k74oa92] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-n17k74oa92] {
    width: 75%;
}

.options[b-n17k74oa92] {
    position: relative;
    padding-left: 40px;
}

#options label[b-n17k74oa92] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-n17k74oa92] {
    opacity: 0;
}

.checkmark[b-n17k74oa92] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-n17k74oa92]:after {
    display: block;
}

.options .checkmark[b-n17k74oa92]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-n17k74oa92] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-n17k74oa92]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-n17k74oa92] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-n17k74oa92] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-n17k74oa92] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-n17k74oa92] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Final_Quiz_Solutions.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-iyuux272gn] {
    background-color: #333;
}

.container[b-iyuux272gn] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-iyuux272gn] {
    width: 75%;
}

.options[b-iyuux272gn] {
    position: relative;
    padding-left: 40px;
}

#options label[b-iyuux272gn] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-iyuux272gn] {
    opacity: 0;
}

.checkmark[b-iyuux272gn] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-iyuux272gn]:after {
    display: block;
}

.options .checkmark[b-iyuux272gn]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-iyuux272gn] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-iyuux272gn]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-iyuux272gn] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-iyuux272gn] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-iyuux272gn] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-iyuux272gn] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Game_Developer_Quiz.razor.rz.scp.css */
body[b-61mb7putr0] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-61mb7putr0] {
    background-color: #333;
}

.container[b-61mb7putr0] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-61mb7putr0] {
    width: 75%;
}

.options[b-61mb7putr0] {
    position: relative;
    padding-left: 40px;
}

#options label[b-61mb7putr0] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-61mb7putr0] {
    opacity: 0;
}

.checkmark[b-61mb7putr0] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-61mb7putr0]:after {
    display: block;
}

.options .checkmark[b-61mb7putr0]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-61mb7putr0] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-61mb7putr0]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-61mb7putr0] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-61mb7putr0] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-61mb7putr0] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-61mb7putr0] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Game_Developer_Quiz_Solutions.razor.rz.scp.css */
body[b-stalkyz4a1] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-stalkyz4a1] {
    background-color: #333;
}

.container[b-stalkyz4a1] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-stalkyz4a1] {
    width: 75%;
}

.options[b-stalkyz4a1] {
    position: relative;
    padding-left: 40px;
}

#options label[b-stalkyz4a1] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-stalkyz4a1] {
    opacity: 0;
}

.checkmark[b-stalkyz4a1] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-stalkyz4a1]:after {
    display: block;
}

.options .checkmark[b-stalkyz4a1]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-stalkyz4a1] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-stalkyz4a1]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-stalkyz4a1] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-stalkyz4a1] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-stalkyz4a1] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-stalkyz4a1] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Machine_Learning_Engineer_Quiz.razor.rz.scp.css */
body[b-410fwzexti] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-410fwzexti] {
    background-color: #333;
}

.container[b-410fwzexti] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-410fwzexti] {
    width: 75%;
}

.options[b-410fwzexti] {
    position: relative;
    padding-left: 40px;
}

#options label[b-410fwzexti] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-410fwzexti] {
    opacity: 0;
}

.checkmark[b-410fwzexti] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-410fwzexti]:after {
    display: block;
}

.options .checkmark[b-410fwzexti]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-410fwzexti] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-410fwzexti]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-410fwzexti] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-410fwzexti] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-410fwzexti] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-410fwzexti] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Machine_Learning_Engineer_Quiz_Solutions.razor.rz.scp.css */
body[b-8eei9jo220] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-8eei9jo220] {
    background-color: #333;
}

.container[b-8eei9jo220] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-8eei9jo220] {
    width: 75%;
}

.options[b-8eei9jo220] {
    position: relative;
    padding-left: 40px;
}

#options label[b-8eei9jo220] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-8eei9jo220] {
    opacity: 0;
}

.checkmark[b-8eei9jo220] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-8eei9jo220]:after {
    display: block;
}

.options .checkmark[b-8eei9jo220]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-8eei9jo220] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-8eei9jo220]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-8eei9jo220] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-8eei9jo220] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-8eei9jo220] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-8eei9jo220] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Mobile_App_Developer_Quiz.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-n1reojyejv] {
    background-color: #333;
}

.container[b-n1reojyejv] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-n1reojyejv] {
    width: 75%;
}

.options[b-n1reojyejv] {
    position: relative;
    padding-left: 40px;
}

#options label[b-n1reojyejv] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-n1reojyejv] {
    opacity: 0;
}

.checkmark[b-n1reojyejv] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-n1reojyejv]:after {
    display: block;
}

.options .checkmark[b-n1reojyejv]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-n1reojyejv] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-n1reojyejv]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-n1reojyejv] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-n1reojyejv] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-n1reojyejv] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-n1reojyejv] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Mobile_App_Developer_Quiz_Solutions.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-0cnsc22fht] {
    background-color: #333;
}

.container[b-0cnsc22fht] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-0cnsc22fht] {
    width: 75%;
}

.options[b-0cnsc22fht] {
    position: relative;
    padding-left: 40px;
}

#options label[b-0cnsc22fht] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-0cnsc22fht] {
    opacity: 0;
}

.checkmark[b-0cnsc22fht] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-0cnsc22fht]:after {
    display: block;
}

.options .checkmark[b-0cnsc22fht]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-0cnsc22fht] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-0cnsc22fht]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-0cnsc22fht] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-0cnsc22fht] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-0cnsc22fht] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-0cnsc22fht] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/My_Progress.razor.rz.scp.css */
/*table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

thead th {
    color: #fff;
}

.card {
    border-radius: .5rem;
}

.table-scroll {
    border-radius: .5rem;
}

    .table-scroll table thead th {
        font-size: 1.25rem;
    }

thead {
    top: 0;
    position: sticky;
}
*/

table th[b-9aoaq1b27h] {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

thead th[b-9aoaq1b27h] {
    color: #fff;
}
/* /Pages/Network_Administrator_Quiz.razor.rz.scp.css */
body[b-1sekwv23fp] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-1sekwv23fp] {
    background-color: #333;
}

.container[b-1sekwv23fp] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-1sekwv23fp] {
    width: 75%;
}

.options[b-1sekwv23fp] {
    position: relative;
    padding-left: 40px;
}

#options label[b-1sekwv23fp] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-1sekwv23fp] {
    opacity: 0;
}

.checkmark[b-1sekwv23fp] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-1sekwv23fp]:after {
    display: block;
}

.options .checkmark[b-1sekwv23fp]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-1sekwv23fp] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-1sekwv23fp]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-1sekwv23fp] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-1sekwv23fp] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-1sekwv23fp] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-1sekwv23fp] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Network_Administrator_Quiz_Solutions.razor.rz.scp.css */
body[b-ago8f8pquw] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-ago8f8pquw] {
    background-color: #333;
}

.container[b-ago8f8pquw] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-ago8f8pquw] {
    width: 75%;
}

.options[b-ago8f8pquw] {
    position: relative;
    padding-left: 40px;
}

#options label[b-ago8f8pquw] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-ago8f8pquw] {
    opacity: 0;
}

.checkmark[b-ago8f8pquw] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-ago8f8pquw]:after {
    display: block;
}

.options .checkmark[b-ago8f8pquw]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-ago8f8pquw] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-ago8f8pquw]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-ago8f8pquw] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-ago8f8pquw] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-ago8f8pquw] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-ago8f8pquw] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Professors_Quiz.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-ufxq252mwz] {
    background-color: #333;
}

.container[b-ufxq252mwz] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-ufxq252mwz] {
    width: 75%;
}

.options[b-ufxq252mwz] {
    position: relative;
    padding-left: 40px;
}

#options label[b-ufxq252mwz] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-ufxq252mwz] {
    opacity: 0;
}

.checkmark[b-ufxq252mwz] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-ufxq252mwz]:after {
    display: block;
}

.options .checkmark[b-ufxq252mwz]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-ufxq252mwz] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-ufxq252mwz]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-ufxq252mwz] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-ufxq252mwz] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-ufxq252mwz] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-ufxq252mwz] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Professors_Quiz_Solutions.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-2vb9j82nbv] {
    background-color: #333;
}

.container[b-2vb9j82nbv] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-2vb9j82nbv] {
    width: 75%;
}

.options[b-2vb9j82nbv] {
    position: relative;
    padding-left: 40px;
}

#options label[b-2vb9j82nbv] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-2vb9j82nbv] {
    opacity: 0;
}

.checkmark[b-2vb9j82nbv] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-2vb9j82nbv]:after {
    display: block;
}

.options .checkmark[b-2vb9j82nbv]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-2vb9j82nbv] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-2vb9j82nbv]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-2vb9j82nbv] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-2vb9j82nbv] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-2vb9j82nbv] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-2vb9j82nbv] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Software_Developer_Quiz.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-ybq3wwvj45] {
    background-color: #333;
}

.container[b-ybq3wwvj45] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-ybq3wwvj45] {
    width: 75%;
}

.options[b-ybq3wwvj45] {
    position: relative;
    padding-left: 40px;
}

#options label[b-ybq3wwvj45] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-ybq3wwvj45] {
    opacity: 0;
}

.checkmark[b-ybq3wwvj45] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-ybq3wwvj45]:after {
    display: block;
}

.options .checkmark[b-ybq3wwvj45]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-ybq3wwvj45] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-ybq3wwvj45]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-ybq3wwvj45] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-ybq3wwvj45] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-ybq3wwvj45] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-ybq3wwvj45] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Software_Developer_Quiz_v2.razor.rz.scp.css */
*[b-19a8ybfpvd] {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.app-title[b-19a8ybfpvd] {
    margin: 30px auto;
    padding: 10px;
    font-size: 40pt;
    width: 100%;
    text-align: center;
}

.quiz[b-19a8ybfpvd] {
    margin: 10px auto;
    width: 50%;
    background-color: #f5f6f6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: -20px 20px 30px rgba(0,0,0,0.3);
}

.quiz-header[b-19a8ybfpvd] {
    text-align: center;
}

.quiz-body[b-19a8ybfpvd] {
    padding-top: 15px;
}

.quiz-footer[b-19a8ybfpvd] {
    display: flex;
    justify-content: center;
}

.next-btn[b-19a8ybfpvd] {
    width: 200px;
    padding: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 14pt;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

    .next-btn:hover[b-19a8ybfpvd] {
        box-shadow: -1.5px 1.5px 10px rgba(0,0,0,0.3);
    }
/* /Pages/Software_Developer_Quiz_v3.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');[b-02e7fc4ebt]

 .hide_circle {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

body[b-02e7fc4ebt] {
    background-color: #333;
}

.container[b-02e7fc4ebt] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-02e7fc4ebt] {
    width: 75%;
}

.options[b-02e7fc4ebt] {
    position: relative;
    padding-left: 40px;
}

#options label[b-02e7fc4ebt] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-02e7fc4ebt] {
    opacity: 0;
}

.checkmark[b-02e7fc4ebt] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-02e7fc4ebt]:after {
    display: block;
}

.options .checkmark[b-02e7fc4ebt]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-02e7fc4ebt] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-02e7fc4ebt]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-02e7fc4ebt] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-02e7fc4ebt] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-02e7fc4ebt] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-02e7fc4ebt] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/UI_UX_Designer_Quiz.razor.rz.scp.css */
body[b-o5y1nv9sbc] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-o5y1nv9sbc] {
    background-color: #333;
}

.container[b-o5y1nv9sbc] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-o5y1nv9sbc] {
    width: 75%;
}

.options[b-o5y1nv9sbc] {
    position: relative;
    padding-left: 40px;
}

#options label[b-o5y1nv9sbc] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-o5y1nv9sbc] {
    opacity: 0;
}

.checkmark[b-o5y1nv9sbc] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-o5y1nv9sbc]:after {
    display: block;
}

.options .checkmark[b-o5y1nv9sbc]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-o5y1nv9sbc] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-o5y1nv9sbc]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-o5y1nv9sbc] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-o5y1nv9sbc] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-o5y1nv9sbc] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-o5y1nv9sbc] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/UI_UX_Designer_Quiz_Solutions.razor.rz.scp.css */
body[b-cz6yynrwdy] {
}

import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-cz6yynrwdy] {
    background-color: #333;
}

.container[b-cz6yynrwdy] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-cz6yynrwdy] {
    width: 75%;
}

.options[b-cz6yynrwdy] {
    position: relative;
    padding-left: 40px;
}

#options label[b-cz6yynrwdy] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-cz6yynrwdy] {
    opacity: 0;
}

.checkmark[b-cz6yynrwdy] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-cz6yynrwdy]:after {
    display: block;
}

.options .checkmark[b-cz6yynrwdy]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-cz6yynrwdy] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-cz6yynrwdy]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-cz6yynrwdy] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-cz6yynrwdy] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-cz6yynrwdy] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-cz6yynrwdy] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Web_Developer_Quiz.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-rl5388daa9] {
    background-color: #333;
}

.container[b-rl5388daa9] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-rl5388daa9] {
    width: 75%;
}

.options[b-rl5388daa9] {
    position: relative;
    padding-left: 40px;
}

#options label[b-rl5388daa9] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-rl5388daa9] {
    opacity: 0;
}

.checkmark[b-rl5388daa9] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-rl5388daa9]:after {
    display: block;
}

.options .checkmark[b-rl5388daa9]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-rl5388daa9] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-rl5388daa9]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-rl5388daa9] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-rl5388daa9] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-rl5388daa9] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-rl5388daa9] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Web_Developer_Quiz_solutions.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-kisjba1qje] {
    background-color: #333;
}

.container[b-kisjba1qje] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-kisjba1qje] {
    width: 75%;
}

.options[b-kisjba1qje] {
    position: relative;
    padding-left: 40px;
}

#options label[b-kisjba1qje] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-kisjba1qje] {
    opacity: 0;
}

.checkmark[b-kisjba1qje] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-kisjba1qje]:after {
    display: block;
}

.options .checkmark[b-kisjba1qje]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-kisjba1qje] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-kisjba1qje]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-kisjba1qje] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-kisjba1qje] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-kisjba1qje] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-kisjba1qje] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-nxwkzlu7py] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nxwkzlu7py] {
    flex: 1;
}

.sidebar[b-nxwkzlu7py] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nxwkzlu7py] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nxwkzlu7py]  a, .top-row[b-nxwkzlu7py]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-nxwkzlu7py]  a:hover, .top-row[b-nxwkzlu7py]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-nxwkzlu7py]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-nxwkzlu7py] {
        display: none;
    }

    .top-row.auth[b-nxwkzlu7py] {
        justify-content: space-between;
    }

    .top-row[b-nxwkzlu7py]  a, .top-row[b-nxwkzlu7py]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nxwkzlu7py] {
        flex-direction: row;
    }

    .sidebar[b-nxwkzlu7py] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nxwkzlu7py] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nxwkzlu7py]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nxwkzlu7py], article[b-nxwkzlu7py] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-630is32f1m] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-630is32f1m] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-630is32f1m] {
    font-size: 1.1rem;
}

.oi[b-630is32f1m] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-630is32f1m] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-630is32f1m] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-630is32f1m] {
        padding-bottom: 1rem;
    }

    .nav-item[b-630is32f1m]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-630is32f1m]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-630is32f1m]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-630is32f1m] {
        display: none;
    }

    .collapse[b-630is32f1m] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
