/* /Pages/Software_Developer_Quiz.razor.rz.scp.css */
import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*body {
    background-color: #333;
}*/
body[b-ybq3wwvj45] {
    background-color: #333;
}

.container[b-ybq3wwvj45] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-ybq3wwvj45] {
    width: 75%;
}

.options[b-ybq3wwvj45] {
    position: relative;
    padding-left: 40px;
}

#options label[b-ybq3wwvj45] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-ybq3wwvj45] {
    opacity: 0;
}

.checkmark[b-ybq3wwvj45] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-ybq3wwvj45]:after {
    display: block;
}

.options .checkmark[b-ybq3wwvj45]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-ybq3wwvj45] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-ybq3wwvj45]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-ybq3wwvj45] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-ybq3wwvj45] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-ybq3wwvj45] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-ybq3wwvj45] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Pages/Software_Developer_Quiz_v2.razor.rz.scp.css */
*[b-19a8ybfpvd] {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.app-title[b-19a8ybfpvd] {
    margin: 30px auto;
    padding: 10px;
    font-size: 40pt;
    width: 100%;
    text-align: center;
}

.quiz[b-19a8ybfpvd] {
    margin: 10px auto;
    width: 50%;
    background-color: #f5f6f6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: -20px 20px 30px rgba(0,0,0,0.3);
}

.quiz-header[b-19a8ybfpvd] {
    text-align: center;
}

.quiz-body[b-19a8ybfpvd] {
    padding-top: 15px;
}

.quiz-footer[b-19a8ybfpvd] {
    display: flex;
    justify-content: center;
}

.next-btn[b-19a8ybfpvd] {
    width: 200px;
    padding: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 14pt;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

    .next-btn:hover[b-19a8ybfpvd] {
        box-shadow: -1.5px 1.5px 10px rgba(0,0,0,0.3);
    }
/* /Pages/Software_Developer_Quiz_v3.razor.rz.scp.css */
/*import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*body {
    background-color: #333;
}*/

body[b-02e7fc4ebt] {
    background-color: #333;
}

.container[b-02e7fc4ebt] {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}

/*.container > p {
        font-size: 32px;
    }*/

.question[b-02e7fc4ebt] {
    width: 75%;
}

.options[b-02e7fc4ebt] {
    position: relative;
    padding-left: 40px;
}

#options label[b-02e7fc4ebt] {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input[b-02e7fc4ebt] {
    opacity: 0;
}

.checkmark[b-02e7fc4ebt] {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark[b-02e7fc4ebt]:after {
    display: block;
}

.options .checkmark[b-02e7fc4ebt]:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark[b-02e7fc4ebt] {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

    .options input[type="radio"]:checked ~ .checkmark[b-02e7fc4ebt]:after {
        transform: translate(-50%,-50%) scale(1);
    }

.btn-primary[b-02e7fc4ebt] {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

    .btn-primary:hover[b-02e7fc4ebt] {
        background-color: #21bf73;
        border: 1px solid #21bf73;
    }

.btn-success[b-02e7fc4ebt] {
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px) {
    .question[b-02e7fc4ebt] {
        width: 100%;
        word-spacing: 2px;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-nxwkzlu7py] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nxwkzlu7py] {
    flex: 1;
}

.sidebar[b-nxwkzlu7py] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nxwkzlu7py] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nxwkzlu7py]  a, .top-row[b-nxwkzlu7py]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-nxwkzlu7py]  a:hover, .top-row[b-nxwkzlu7py]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-nxwkzlu7py]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-nxwkzlu7py] {
        display: none;
    }

    .top-row.auth[b-nxwkzlu7py] {
        justify-content: space-between;
    }

    .top-row[b-nxwkzlu7py]  a, .top-row[b-nxwkzlu7py]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nxwkzlu7py] {
        flex-direction: row;
    }

    .sidebar[b-nxwkzlu7py] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nxwkzlu7py] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nxwkzlu7py]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nxwkzlu7py], article[b-nxwkzlu7py] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-630is32f1m] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-630is32f1m] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-630is32f1m] {
    font-size: 1.1rem;
}

.oi[b-630is32f1m] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-630is32f1m] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-630is32f1m] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-630is32f1m] {
        padding-bottom: 1rem;
    }

    .nav-item[b-630is32f1m]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-630is32f1m]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-630is32f1m]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-630is32f1m] {
        display: none;
    }

    .collapse[b-630is32f1m] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
